<!DOCTYPE html>
{% extends "base.html" %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	{% block main%}

	<form action="{{ url_for('create') }}" method="POST" enctype="multipart/form-data">
		{{form.csrf_token}}

		<h1>Add New Property</h1>

		<div class="grid-container">

			<div class = "grid1">
				<h6>{{form.title.label}}</h6>
				{{form.title(class_="form-control")}}
			</div>

			<div class = "grid2">
				<h6>{{form.description.label}}</h6>
				{{form.description(class_="form-control")}}
			</div>

			<div class = "grid3">
				<h6>{{form.bedrooms.label}}</h6>
				{{form.bedrooms(class_="form-control")}}
			</div>

			<div class = "grid4">
				<h6>{{form.bathrooms.label}}</h6>
				{{form.bathrooms(class_="form-control")}}
			</div>

			<div class = "grid5">
				<h6>{{form.price.label}}</h6>
				{{form.price(class_="form-control")}}
			</div>

			<div class = "grid6">
				<h6>{{form.ptype.label}}</h6>
				{{form.ptype(class_="form-control")}}
			</div>

			<div class = "grid7">
				<h6>{{form.location.label}}</h6>
				{{form.location(class_="form-control")}}
			</div>

			<div class = "grid8">
				<h6>{{form.photo.label}}</h6>
				{{form.photo}}
			</div>
			<div class = "grid9">
				<input type="Submit" value='Add Property'>
			</div>

		</div>
	</form>

	{% endblock %}

</body>
</html>